# web server
# You need to install cloudflared for it to actually communicate..
# dev   -   http://0.0.0.0:59076

git+https://github.com/ilyigna/discord.py@eddce217cc0c3351c88119b45bce95895e4d67bf#egg=discord.py[speed]
git+https://github.com/ilyigna/jishaku@63fec45f377ac19e32142f2c09fe9d5212f069a8
asyncpg
cashews
humanize
python-dateutil
xxhash
beautifulsoup4
munch
dateparser
psutil
pillow
aiofiles
aiohttp_cors
pomice
pydantic
asyncspotify
pyppeteer
async_timeout
faster_than_requests